html {
    box-sizing: border-box;
}

*,
::after,
::before {
    box-sizing: inherit;
}

body {
    background-color: #eee;
    word-break: break-word;
}

.container {
    max-width: 700px;
    padding: 20px;
    margin: 0 auto;
    background-color: #ddd;
}

.section {
    margin: 10px;
    background-color: white;
    border: 1px solid #ddd;
}

.section__title {
    font-size: 18px;
    font-weight: 700;
    padding-left: 15px;
}

.section__header {
    display: grid;
    grid-template-columns: auto auto;
    justify-content: space-between;
    align-items: center;
    grid-gap: 10px;
    border-bottom: 1.5px solid #ddd;
    margin-left: 15px;
}

@media (max-width:767px) {
    .section__header {
        grid-template-columns: 1fr;
        padding-bottom: 25px;
        gap: 5px;
    }
}

.section__body {
    padding: 20px;
}

.form {
    display: grid;
    grid-template-columns: 1fr auto;
    grid-gap: 20px;
    align-content: center;
    padding: 15px;
    background-color: white;
}

.form__input {
    flex-grow: 1;
    padding: 10px;
    border: 1px solid #ddd;
    margin: 10px;
}

.form__button {
    padding: 10px;
    background-color: teal;
    color: white;
    border: none;
    margin: 10px;
    cursor: pointer;
}

.form__button:hover {
    background-color: rgb(72, 196, 196);
}

.tasks {
    list-style: none;
    padding: 10px;
}

.tasks__item {
    display: grid;
    align-items: center;
    padding: 10px;
    border: 1px solid #ddd;
    margin: 10px 0px 0px 0px;
    grid-template-columns: auto 1fr auto;
    grid-gap: 10px;
}

.tasks__button {
    width: 30px;
    height: 30px;
    border: none;
    padding: 0px;
    color: white;
    cursor: pointer;
}

.tasks__button--done {
    background-color: green;
}

.tasks__button--done:hover {
    background-color: rgb(57, 195, 57);
}

.task__content--done {
    text-decoration: line-through;
}

.tasks__button--remove {
    width: 30px;
    height: 30px;
    border: none;
    background-color: red;
    color: white;
}

.tasks__button--remove:hover {
    background-color: rgb(251, 97, 97);
}

.section__buttons {
    display: flex;
    flex-wrap: wrap;
    margin-right: 15px;
}

.buttons__button {
    margin: 0 0 0 20px;
    border: none;
    color: teal;
    background-color: white;
    font-size: 15px;
    transition: 1s;
}

.buttons__button:hover {
    color: rgb(13, 107, 59);
}

@media (max-width:767px) {
    .buttons__button {
        flex-basis: 100%;
        margin: 10px;
    }
}

.completeAllButton:disabled {
    color: rgb(184, 179, 179)
}